@require './var/color.styl';
@require './icon/index.styl';
@require './ui/home.styl';

body {
  background: $color-light-grey-sss;
}

.container, .page-container {
  width: 1140px;
  padding: 0;
  margin: 0 auto;
}
