@require './var/color.styl';
@require './icon/index.styl';
@require './ui/popover.styl';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 1140px;
  padding: 0;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
}

.dm-main {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
