@require './var/color.styl';
@require './icon/index.styl';
@require './ui/popover.styl';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  // background: $color-primary-s;
}

.container {
  width: 1140px;
  padding: 0;
  margin: 0 auto;
}
