@require './pepmdx-icons.styl';
$cdn = 'http://cdn.17disney.com'

@font-face {
  font-family: 'pepmdx';
  src: url($cdn + '/pep_icon_font-webfont.woff') format('woff'), url($cdn + '/pep_icon_font-webfont.ttf') format('truetype');
}
