@require './pepmdx-icons.styl';

@font-face {
  font-family: 'pepmdx';
  src: url('../fonts/pep_icon_font-webfont.woff') format('woff'), url('../fonts/pep_icon_font-webfont.ttf') format('truetype');
}
