.card-attcount {
  .el-card__body {
    padding: 0px;
  }

  margin-bottom: 30px;
}

.ds-card {
  background: #FFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
