.ds-first {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  .container {
    height: 610px;
    // background-position: right top;
    position: relative;
  }
}

.footer {
  width: 100%;
  text-align: center;
  height: 100px;
  padding: 30px;
  background: $color-primary-ss;
}

.chart {
  width: 100%;
  height: 400px;

  .inner {
    height: 400px;
  }
}
