.ds-first {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .ds-map {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    position: absolute;
  }

  &__cover {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background: rgba($color-primary, 0.45);
  }

  .container {
    height: 450px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 111;
    position: relative;
    color: #FFF;
    text-align: center;
  }

  &__icon {
    font-size: 100px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 8px;
  }

  .card-forecast {
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
  }

  .ds-tab-home {
    margin-top: 45px;
  }
}

.footer {
  margin-top: 32px;
  text-align: center;
  padding: 30px;
  background: $color-primary-ss;
  color: $color-light-grey;
}

.chart {
  width: 100%;
  height: 400px;

  .inner {
    height: 400px;
  }
}

.wxapp-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  &-item {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 16px;
    margin: 0 50px;

    &__img {
      width: 150px;
    }

    &__name {
      font-size: 14px;
      color: $color-light-grey-s;
      margin-top: 8px;
    }

    &__desc {
      font-size: 16px;
      color: $color-grey;
      border-radius: 10px;
    }
  }
}
