.ds-first {
  background-repeat: no-repeat;
  background-position: center
  background-size: 100% auto;

  .container {
    height: 610px;
    // background-position: right top;
    position: relative;
  }
}
