.popover-wxapp {
  text-align: center;

  img {
    width: 120px;
    margin-bottom: 10px;
  }

  &__title {
    padding-top: 10px;
    font-weight: 600;
    font-size: 13px;
    color: $color-grey;
  }
}
